extends layout

block content
    h1 #{title}
    form(method='POST',action='/news/edit/'+news._id)
        #form-group
            label Title:
            input.form-control(name='title',type='text', value=news.title)
        br
        #from-group
            label Author:
            input.form-control(name='author',type='text', value=news.author)
        br
        #form-group
            label Body:
            textarea.form-control(name='content')= news.body
        br
        input.btn.btn-primary(type='submit',value='Submit')
